<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LoginForm</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'  %}">
<link rel="stylesheet" href="{% static 'styles.b40e4d599b73115dabb3.css' %}"></head>
<body>

  <app-root></app-root>
<script src="{% static 'runtime-es2015.858f8dd898b75fe86926.js' %}" type="module"></script>
  <script src="{% static 'polyfills-es2015.c4bc85a95d8566e10cef.js' %}" type="module"></script>
  <script src="{% static 'runtime-es5.741402d1d47331ce975c.js' %}" nomodule></script>
  <script src="{% static 'polyfills-es5.d67a34fe4d38b5c86c97.js' %}" nomodule></script>
  <script src="{% static 'main-es2015.3f8c00a8804059389a8e.js' %}" type="module"></script>
  <script src="{% static 'main-es5.14f5d00e2da217b80847.js' %}" nomodule></script></body>
</html>
