<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enquiry Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


   <style>
       h2{
           margin-top: 50px;
       }
        form{
            border: 1px solid;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 5px 5px 15px;
        }
       .form-control{
           margin-top: 10px;
       }
       .btn{
           margin-top: 10px;
       }
   </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Predict Crop</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h2 class="text-center">Enquiry Form</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ eform }}
                    <center>
                        <input type="submit" value="Submit Query" class="btn btn-success">
                        <input type="reset" value="Clear" class="btn btn-danger">
                    </center>
                </form>

            </div>
        </div>
    </div>
</body>
</html>